<div class="jumbotron mt-16 flex flex-wrap welcome-jumbo">
    <div class="flex-4">
        <h1 class="display-4">Bem vindo a minha POKEDEX</h1>
        <h4 class="lead">Esta é uma pequena aplicação que consome dados da API <u>https://pokeapi.co/</u></h4>
        <hr class="my-4">
        <p>Descubra qual é seu favorito! O meu é o <u routerLink="/pokemons/4"
            data-toggle="tooltip" data-placement="bottom" title="Ou voçê escolhia squirtle?!">Charmander</u>!</p>
        <a class="btn btn-primary btn-lg" role="button" routerLink="/pokemons">Conhecer</a>
    </div>
    <div class="pokemon-fav">
        <img src="https://pokeres.bastionbot.org/images/pokemon/4.png" routerLink="/pokemons/4"
            alt="Charmander">
    </div>
</div>